*{margin:0;padding:0}

body{}
a{color:aqua}
.navbar{height:86px;}
.bgg{background-color: #385778;}
.nav-item a{color:#fff !important;letter-spacing: .7px;white-space: nowrap;font-family: 'Open Sans', sans-serif;font-size: 14px;}
span{font-size: 15px;}
.item img{    width: 100%;border-radius: 0!important;
height: 670px;}
h5{font-size: 18px !important;}

.heading{font-size: 18px;}
marquee{font-size: 14px;color:#1a3960}

.my-bg{background:#eee;}
	p{font-size:15px;}

	#title {
		text-align: center;
	  }
	  #content {
		max-width: 480px;
		margin: 1rem auto 2rem;
	  }
	  details {

		border-radius: 0.5rem;
		margin-top: 2rem;
		padding: 1rem;
		background: #1a3960;
		color:#fff;
	  }
	  summary {
		cursor: pointer;
		font-size: 1.5rem;
		font-weight:600;
		font-size: 16px;
	  }
	  
	  details > p {
		line-height: 1.75rem;
		margin-top: 1rem;
		padding-top: 1rem;
		position: relative;
		color:#fff;font-size: 15px;
	  }
	  details > p::before {
		animation: grow 500ms forwards;
		background: var(--green);
		border-radius: 0.125rem;
		content: "";
		display: block;
		height: 0.25rem;
		position: absolute;
		top: 0;
		width: 0;
	  }
	  details > p::after {
		background: lightgray;
		background: linear-gradient(
		  90deg,
		  #c7c7c7,
		  #c7c7c7 0.75rem,
		  #555555 0.75rem,
		  #555555 2rem,
		  #c7c7c7 2rem,
		  #c7c7c7 3.5rem,
		  #555555 3.5rem,
		  #555555 6rem,
		  #c7c7c7 6rem,
		  #c7c7c7 7rem,
		  #8c6e3b 7rem,
		  #8c6e3b 7.5rem,
		  #c7c7c7 7.5rem,
		  #c7c7c7
		);
		border-radius: 0.125rem 0 0 0.125rem;
		content: "";
		display: block;
		height: 0.5rem;
		width: 8rem;
		position: absolute;
		left: 0;
		top: -0.125rem;
	  }
	  /* Conditional styling when open */
	  details[open] {
		background:#676464;color:#fff;
		transition: all 300ms;
	  }
	  
	  /* Styling per class */
	  summary::marker {
		color: var(--black);
	  }
	  .tangental > summary::marker {
		color: var(--white);
	  }
	  .tangental p::before {
		background: var(--blue);
	  }
	  .terrible > summary::marker {
		color: var(--red);
	  }
	  .terrible > p::before {
		background: var(--red);
	  }
	  
	  /* Animations */
	  @keyframes grow {
		from {
		  width: 0%;
		}
		to {
		  width: 100%;
		}
	  }
	  
	  .carousel-item img{height: 700px;}

	  .fa-android{font-size: 22px!important;}
	  .fa-apple{font-size: 22px !important;}


	
	.myt{margin-top:-50px;}

	  .bgfoot{background-color: #001430;}
	
	  ul li{list-style-type:none;color:#fff;}

	  
	  #finance-btn {
		width: 189px;
		height: 50px;
		background: #333;
		border: 0;
		display: inline-block;
		margin-left: 90px;
		color: #fff;
	  
	  }
	  
	  #refer-btn {
		width: 189px;
		height: 50px;
		background:#eab001;
		border: 0;
		display: inline-block;
		color: #fff;
	  }
	  
	  #gform_7, #gform_63 {
		display: none;
	  }
	  
	  #gform_7 {
		margin: 0 auto;
		width: 300px;
		padding: 10px;
	  }
	  
	  #gform_63 {
		margin: 0 auto;
		width: 300px;
		padding: 10px;
	  }
	  
	.fsize{font-size: 14px;line-height: 30px;margin-left: 70px;}


	.bg-footer {
		background-color:#001430;
		padding: 50px 0 30px;
	}
	.footer-heading {
		letter-spacing: 2px;
	}
	
	.footer-link a {
		color: #acacac;
		line-height: 40px;
		font-size: 14px;
		transition: all 0.5s;
	}
	
	.footer-link a:hover {
		color: #1bbc9b;
	}
	
	.contact-info {
		color: #acacac;
		font-size: 14px;
	}
	
	.footer-social-icon {
		font-size: 15px;
		height: 34px;
		width: 34px;
		line-height: 34px;
		border-radius: 3px;
		text-align: center;
		display: inline-block;
	}
	
	.facebook {
		
		color: #ffffff;
	}
	
	.twitter {
		
		color: #ffffff;
	}
	
	.google {
	
		color: #ffffff;
	}
	
	.apple {
		
		color: #ffffff;
	}
	
	.footer-alt {
		color: #acacac;
	}
	
	.footer-heading {
		position: relative;
		padding-bottom: 12px;
	}
	
	.footer-heading:after {
		content: '';
		width: 25px;
		border-bottom: 1px solid #FFF;
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		border-bottom: 1px solid #1bbc9b;
	}
	


	.tab-style{
		font-size:20px;
		width:50%;
		background-color:#f2f2f2;
		  text-align:center;
		  
		
		}
		.nav-tabs > li > a {
			margin-right: 0px;
			color:grey;
		}
		
		
		
		.group2 { 
			position: relative; 
			margin-top: 16px; 
		}
		
		.btn-block{margin-top:20px;
		margin-bottom:20px;
		font-size:18px;}
		
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {   background-color:#e5ecf4;
		color:#4a89dc;}
		
		.login-shadow{-webkit-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
		-moz-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
		box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
		  z-index:1;
		   
		}
		
		.signup-shadow{-webkit-box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
		-moz-box-shadow: -5px -5px 6px 0px rgba(82,82,82,0.52);
		box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
		  
		}
		
		
		.modal-header{background-color:#e5ecf4;}
		
		.group { 
			position: relative; 
			margin-top: 30px; 
		}
		
		
		.input {
			font-size: 18px;
			padding: 10px 10px 10px 5px;
			-webkit-appearance: none;
			display: block;
			background: none;
			color: #636363;
			width: 100%;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid #757575;
		}
		
		.input:focus { outline: none; }
		
		
		/* Label */
		
		.label {
			color:#cccaca; 
			font-size: 18px;
			font-weight: normal;
			position: absolute;
			pointer-events: none;
			left: -10px;
			top: 10px;
			transition: all 0.2s ease;
		}
		
		
		/* active */
		
		.input:focus ~ .label, .input.used ~ .label {
			top: -20px;
		  transform: scale(.75); left:-15px;
			/* font-size: 14px; */
			color: #4a89dc;
		}
		
		
		/* Underline */
		
		.bar {
			position: relative;
			display: block;
			width: 100%;
		}
		
		.bar:before, .bar:after {
			content: '';
			height: 2px; 
			width: 0;
			bottom: 1px; 
			position: absolute;
			background: #4a89dc; 
			transition: all 0.2s ease;
		}
		
		.bar:before { left: 50%; }
		
		.bar:after { right: 50%; }
		
		
		/* active */
		
		.input:focus ~ .bar:before, .input:focus ~ .bar:after { width: 50%; }
		
		
		/* Highlight */
		
		.highlight {
			position: absolute;
			height: 60%; 
			width: 100px; 
			top: 25%; 
			left: 0;
			pointer-events: none;
			opacity: 0.5;
		}
		
		
		/* active */
		
		.input:focus ~ .highlight {
			animation: inputHighlighter 0.3s ease;
		}
		
		
		@media  screen and (max-width: 767px) and (min-width: 576px){
		  #myModal{margin-left:20%;
					margin-right:20%;}
		
		  #forgot-password{margin-left:20%;
					margin-right:20%;}
		} 
		
		
		@media screen and (min-width: 768px) {
			
			#myModal .modal-dialog  {width:500px;     position: absolute;
				top: 50%;
				left: 40%;
				transform: translate(-50%, -50%);}
		  
		  #forgot-password .modal-dialog{width:500px;}
		  
		  .modal-body{padding-left:50px;
					  padding-right:50px;}
		}
		
		
		.modal-body{background-image:url('images/ujj.jpg');
		background-size:cover;
		z-inedx:4;}
		
		em{display:none;}
		
		
		.modal-content{width:600px!important}


		label, input {
			cursor: pointer;
		}
		input {
			margin: 0;
			max-width: 100%;
			height: auto;	
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			color: #1b1b1b;
			vertical-align: middle;
			-webkit-appearance: none;
			   -moz-appearance: none;
					   appearance: none;
			border: .08em solid #4F4F4F;
		}	
		#page {
			max-width: 1200px;
			margin: 0 auto;
		}
		section {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1em;
		}
		@media (max-width: 767px) {
			section {
				grid-template-columns: 1fr;
			} 
		}
		/* End reset for the demo */
		
		.checkbox, .radio {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 1em;
		}
		input[type="checkbox"],
		input[type="radio"] {
			width: 1.25em; height: 1.25em;border: 1px solid #fff;
		}	
		input[type="radio"] {	
			border-radius: 50%;
		}
		input[type="checkbox"]:checked,
		input[type="radio"]:checked {
			background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.4 21.5-5.93-5.93-2.01 2.01 7.94 7.94 17.1-17.1-2.01-2.01z' fill='%23fff'/%3E%3C/svg%3E");
			background-size: 80% 80%;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #245884;
			border-color: #245884;
		}


        @media only screen and (max-width: 600px) {
		.carousel-item img {
			height: 230px;
		}

		.navbar-light .navbar-toggler {
			color: rgba(0,0,0,.5);
			border-color: rgba(0,0,0,.1);
			position: relative;
			top: -20px;
		}

		.navbar-brand {
			display: inline-block;
			padding-top: .3125rem;
			padding-bottom: .3125rem;
			margin-right: 1rem;
			font-size: 1.25rem;
			line-height: inherit;
			white-space: nowrap;
			position: relative;
			top: -28px;
		}

		.imgs{width:200px;}

	}